@charset "utf-8";

.first-view {
    height: calc(100vh - 110px);
    background-image: url(../images/illust/top.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
}

.first-view-text {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #c51c1c;
    font-weight: bold;
    text-shadow: 1px 1px 10px #4b2c14;
}
